body{
    background: rgb(186, 172, 172);
    margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  /* outline: 1px solid black; */
  background-color: white;
}

.canvas-container {
  background-color: brown;
  margin: 0 auto;
  width: 50vw;
  height: 85vh;
}

.grid-container {
  display: grid;
  width: max-content;
  margin: 100px auto;
  gap: 20px;
grid-template-columns: 100px 100px;
grid-template-rows: 100px;
grid-template-areas:
"img1 img2";
}

.img1 {
  width: 100%;
  grid-area: img1;
}

.img2 {
  width: 100%;
  grid-area: img2;
}
